@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-btntext: var(--btntext);
  --color-button: rgb(16 82 229);
  --color-btnhover: var(--btnhover);
  --color-subbg: var(--subbg);
  --color-text2: var(--text2);
}

:root {
  --color-background: rgb(159 190 248);
  --color-subbg: rgb(255 255 255); 
  --color-border: rgba(0, 0, 0, 0.1); 
  --color-text: #111827; 
  --color-text2: #f9fafb; 
  --color-btntext: #ffffff;
}

.dark {
  --color-background: #0f1112; 
  --color-subbg: rgb(55 60 69); 
  --color-border: rgba(255, 255, 255, 0.1); 
  --color-text: #f9fafb; 
  --color-text2: #111827; 
  --color-btntext: #111827; 

}
